.header{
    width:100%;
    height: 80px;
    /* height:12%; */
    /* position:absolute; */
    /* background-image: linear-gradient(#ee742e, #F08A1D); */
    /* border-bottom-left-radius: 50% 20%; 
    border-bottom-right-radius: 50% 20%; */
    /* box-shadow: 2px 2px 5px 0px lightgray; */
    background-color: var(--bg-dark-blue);
    overflow: hidden;
    z-index: 100;
    position: sticky;
    top: 0;
}
.logo_Section{
  /* margin-top: -10px; */
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.logo_Section img{
  margin-top: -5px;
}
.menu_Section a{
  margin-top: 20px;
  padding: 7px 12px 30px 10px;
  border-radius: 10px 10px 0px 0px;
  /* margin: 0px 5px; */
  transition: 0.5s;
  text-decoration: none;
  color: white;
  font-size: 18px;
  white-space: nowrap;
  
}
.menu_Section a:hover{
  background-color: white;
  color: #0c1d3d;
}
.menu_Section .active{
  background-color: white;
  color: #0c1d3d;
}
.login_btn a{
  background-color: #F08A1D;
  color: black !important;
}
.login_btn a:hover{
  background-color: white;
  color: black !important;
}
.login_btn .active{
  background-color: white;
  color: black !important;
}